In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
nba=pd.read_csv(r'C:\Users\pc\Downloads\nba.csv')

In [4]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [5]:
nba['Name']

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
Name: Name, Length: 457, dtype: object

In [6]:
type(nba['Name'])

pandas.core.series.Series

In [7]:
nba[['Name','Number','Position','Age']]

              Name  Number Position  Age
0    Avery Bradley       0       PG   25
1      Jae Crowder      99       SF   25
2     John Holland      30       SG   27
3      R.J. Hunter      28       SG   22
4    Jonas Jerebko       8       PF   29
..             ...     ...      ...  ...
452     Trey Lyles      41       PF   20
453   Shelvin Mack       8       PG   26
454      Raul Neto      25       PG   24
455   Tibor Pleiss      21        C   26
456    Jeff Withey      24        C   26

[457 rows x 4 columns]

In [8]:
#multi Columnar Data
type(nba[['Name','Number','Position']])

pandas.core.frame.DataFrame

In [9]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [10]:
nba['Age After 3 Years']=nba['Age']+3

In [11]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Age After 3 Years
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0,28
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0,28
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN,30
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0,25
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0,32
...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0,23
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0,29
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0,27
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0,29
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0,29

In [12]:
nba['Event']='Champions Trophy'

In [13]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Age After 3 Years,Event
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0,28,Champions Trophy
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0,28,Champions Trophy
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN,30,Champions Trophy
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0,25,Champions Trophy
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0,32,Champions Trophy
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0,23,Champions Trophy
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0,29,Champions Trophy
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0,27,Champions Trophy
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0,29,Champions Trophy
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0,29,Champions Trophy

In [14]:
nba.insert(loc=8,column='Weight after 3 pound increment',value=nba['Weight']+3)

In [15]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Weight after 3 pound increment,Salary,Age After 3 Years,Event
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,183,7730337.0,28,Champions Trophy
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,238,6796117.0,28,Champions Trophy
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,208,NaN,30,Champions Trophy
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,188,1148640.0,25,Champions Trophy
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,234,5000000.0,32,Champions Trophy
...,...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,237,2239800.0,23,Champions Trophy
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,206,2433333.0,29,Champions Trophy
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,182,900000.0,27,Champions Trophy
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,259,2900000.0,29,Champions Trophy
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,234,947276.0,29,Champions Trophy

In [16]:
nba['Position'].value_counts()

Position
SG    102
PF    100
PG     92
SF     85
C      78
Name: count, dtype: int64

In [17]:
nba['Position'].value_counts(normalize=True)*100

Position
SG    22.319475
PF    21.881838
PG    20.131291
SF    18.599562
C     17.067834
Name: proportion, dtype: float64

In [18]:
nba['Salary'].max()

np.float64(25000000.0)

In [19]:
nba.isnull()

,Name,Team,Number,Position,Age,Height,Weight,College,Weight after 3 pound increment,Salary,Age After 3 Years,Event
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
452,False,False,False,False,False,False,False,False,False,False,False,False
453,False,False,False,False,False,False,False,False,False,False,False,False
454,False,False,False,False,False,False,False,True,False,False,False,False
455,False,False,False,False,False,False,False,True,False,False,False,False
456,False,False,False,False,False,False,False,False,False,False,False,False

In [23]:
#data filtering using is null
#find out all player name whose colleges name is missing
col=pd.isnull(nba['College'])
nba[col]

,Name,Team,Number,Position,Age,Height,Weight,College,Weight after 3 pound increment,Salary,Age After 3 Years,Event
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,234,5000000.0,32,Champions Trophy
5,Amir Johnson,Boston Celtics,90,PF,29,9-Jun,240,NaN,243,12000000.0,32,Champions Trophy
15,Bojan Bogdanovic,Brooklyn Nets,44,SG,27,8-Jun,216,NaN,219,3425510.0,30,Champions Trophy
20,Sergey Karasev,Brooklyn Nets,10,SG,22,7-Jun,208,NaN,211,1599840.0,25,Champions Trophy
32,Thanasis Antetokounmpo,New York Knicks,43,SF,23,7-Jun,205,NaN,208,30888.0,26,Champions Trophy
...,...,...,...,...,...,...,...,...,...,...,...,...
445,Dante Exum,Utah Jazz,11,PG,20,6-Jun,190,NaN,193,3777720.0,23,Champions Trophy
447,Rudy Gobert,Utah Jazz,27,C,23,1-Jul,245,NaN,248,1175880.0,26,Champions Trophy
450,Joe Ingles,Utah Jazz,2,SF,28,8-Jun,226,NaN,229,2050000.0,31,Champions Trophy
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,182,900000.0,27,Champions Trophy
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,259,2900000.0,29,Champions Trophy