In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
pokemon=pd.read_csv(r'C:\Users\pc\Downloads\pokemon123.csv',index_col='name').squeeze()

In [4]:
pokemon

name
Bulbasaur       grass
Ivysaur         grass
Venusaur        grass
Charmander       fire
Charmeleon       fire
               ...
Celesteela      steel
Kartana         grass
Guzzlord         dark
Necrozma      psychic
Magearna        steel
Name: type, Length: 801, dtype: object

In [6]:
value={
    'grass':'pet',
    'fire':'Danger',
    'water':'Charming',
    'psychic':'psycho',
    'steel':'robo'
} 
pokemon.map(value).head(50)

name
Bulbasaur          pet
Ivysaur            pet
Venusaur           pet
Charmander      Danger
Charmeleon      Danger
Charizard       Danger
Squirtle      Charming
Wartortle     Charming
Blastoise     Charming
Caterpie           NaN
Metapod            NaN
Butterfree         NaN
Weedle             NaN
Kakuna             NaN
Beedrill           NaN
Pidgey             NaN
Pidgeotto          NaN
Pidgeot            NaN
Rattata            NaN
Raticate           NaN
Spearow            NaN
Fearow             NaN
Ekans              NaN
Arbok              NaN
Pikachu            NaN
Raichu             NaN
Sandshrew          NaN
Sandslash          NaN
Nidoran♀           NaN
Nidorina           NaN
Nidoqueen          NaN
Nidoran♂           NaN
Nidorino           NaN
Nidoking           NaN
Clefairy           NaN
Clefable           NaN
Vulpix          Danger
Ninetales       Danger
Jigglypuff         NaN
Wigglytuff         NaN
Zubat              NaN
Golbat             NaN
Oddish             pet
Gloom              pet
Vileplume          pet
Paras              NaN
Parasect           NaN
Venonat            NaN
Venomoth           NaN
Diglett            NaN
Name: type, dtype: object

In [7]:
nba=pd.read_csv(r'C:\Users\pc\Downloads\nba.csv')

In [8]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [9]:
student={
    'Name':['Amit','Sumit','Kamal'],
    'Adress':['Moti Nagar','Ram Nagar','Kamala nagar'],
    'City':['Delhi','Chennai','Manipur']
}

In [10]:
student

{'Name': ['Amit', 'Sumit', 'Kamal'],
 'Adress': ['Moti Nagar', 'Ram Nagar', 'Kamala nagar'],
 'City': ['Delhi', 'Chennai', 'Manipur']}

In [11]:
df=pd.DataFrame(student)

In [12]:
df

    Name        Adress     City
0   Amit    Moti Nagar    Delhi
1  Sumit     Ram Nagar  Chennai
2  Kamal  Kamala nagar  Manipur

In [13]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    int64
 3   Position  457 non-null    object
 4   Age       457 non-null    int64
 5   Height    457 non-null    object
 6   Weight    457 non-null    int64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(1), int64(3), object(5)
memory usage: 32.3+ KB

In [14]:
nba.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [15]:
nba.values

array([['Avery Bradley', 'Boston Celtics', 0, ..., 180, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99, ..., 235, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30, ..., 205,
        'Boston University', nan],
       ...,
       ['Raul Neto', 'Utah Jazz', 25, ..., 179, nan, 900000.0],
       ['Tibor Pleiss', 'Utah Jazz', 21, ..., 256, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24, ..., 231, 'Kansas', 947276.0]],
      shape=(457, 9), dtype=object)

In [16]:
nba.size

4113

In [17]:
nba.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [18]:
nba.shape

(457, 9)

In [19]:
nba.dtypes

Name         object
Team         object
Number        int64
Position     object
Age           int64
Height       object
Weight        int64
College      object
Salary      float64
dtype: object

In [20]:
nba.index

RangeIndex(start=0, stop=457, step=1)

In [22]:
nba=pd.read_csv(r'C:\Users\pc\Downloads\nba.csv',index_col=['Name'])

In [23]:
nba

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0
Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0
Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [24]:
nba.index

Index(['Avery Bradley', 'Jae Crowder', 'John Holland', 'R.J. Hunter',
       'Jonas Jerebko', 'Amir Johnson', 'Jordan Mickey', 'Kelly Olynyk',
       'Terry Rozier', 'Marcus Smart',
       ...
       'Rudy Gobert', 'Gordon Hayward', 'Rodney Hood', 'Joe Ingles',
       'Chris Johnson', 'Trey Lyles', 'Shelvin Mack', 'Raul Neto',
       'Tibor Pleiss', 'Jeff Withey'],
      dtype='object', name='Name', length=457)

In [25]:
nba.axes

[Index(['Avery Bradley', 'Jae Crowder', 'John Holland', 'R.J. Hunter',
        'Jonas Jerebko', 'Amir Johnson', 'Jordan Mickey', 'Kelly Olynyk',
        'Terry Rozier', 'Marcus Smart',
        ...
        'Rudy Gobert', 'Gordon Hayward', 'Rodney Hood', 'Joe Ingles',
        'Chris Johnson', 'Trey Lyles', 'Shelvin Mack', 'Raul Neto',
        'Tibor Pleiss', 'Jeff Withey'],
       dtype='object', name='Name', length=457),
 Index(['Team', 'Number', 'Position', 'Age', 'Height', 'Weight', 'College',
        'Salary'],
       dtype='object')]

In [26]:
nba.head(50)

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
Amir Johnson,Boston Celtics,90,PF,29,9-Jun,240,NaN,12000000.0
Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235,LSU,1170960.0
Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238,Gonzaga,2165160.0
Terry Rozier,Boston Celtics,12,PG,22,2-Jun,190,Louisville,1824360.0
Marcus Smart,Boston Celtics,36,PG,22,4-Jun,220,Oklahoma State,3431040.0
Jared Sullinger,Boston Celtics,7,C,24,9-Jun,260,Ohio State,2569260.0
Isaiah Thomas,Boston Celtics,4,PG,27,9-May,185,Washington,6912869.0
Evan Turner,Boston Celtics,11,SG,27,7-Jun,220,Ohio State,3425510.0
James Young,Boston Celtics,13,SG,20,6-Jun,215,Kentucky,1749840.0
Tyler Zeller,Boston Celtics,44,C,26,Jul-00,253,North Carolina,2616975.0
Bojan Bogdanovic,Brooklyn Nets,44,SG,27,8-Jun,216,NaN,3425510.0
Markel Brown,Brooklyn Nets,22,SG,24,3-Jun,190,Oklahoma State,845059.0
Wayne Ellington,Brooklyn Nets,21,SG,28,4-Jun,200,North Carolina,1500000.0
Rondae Hollis-Jefferson,Brooklyn Nets,24,SG,21,7-Jun,220,Arizona,1335480.0
Jarrett Jack,Brooklyn Nets,2,PG,32,3-Jun,200,Georgia Tech,6300000.0
Sergey Karasev,Brooklyn Nets,10,SG,22,7-Jun,208,NaN,1599840.0
Sean Kilpatrick,Brooklyn Nets,6,SG,26,4-Jun,219,Cincinnati,134215.0
Shane Larkin,Brooklyn Nets,0,PG,23,11-May,175,Miami (FL),1500000.0
Brook Lopez,Brooklyn Nets,11,C,28,Jul-00,275,Stanford,19689000.0
Chris McCullough,Brooklyn Nets,1,PF,21,11-Jun,200,Syracuse,1140240.0
Willie Reed,Brooklyn Nets,33,PF,26,10-Jun,220,Saint Louis,947276.0
Thomas Robinson,Brooklyn Nets,41,PF,25,10-Jun,237,Kansas,981348.0
Henry Sims,Brooklyn Nets,14,C,26,10-Jun,248,Georgetown,947276.0
Donald Sloan,Brooklyn Nets,15,PG,28,3-Jun,205,Texas A&M,947276.0
Thaddeus Young,Brooklyn Nets,30,PF,27,8-Jun,221,Georgia Tech,11235955.0
Arron Afflalo,New York Knicks,4,SG,30,5-Jun,210,UCLA,8000000.0
Lou Amundson,New York Knicks,17,PF,33,9-Jun,220,UNLV,1635476.0
Thanasis Antetokounmpo,New York Knicks,43,SF,23,7-Jun,205,NaN,30888.0
Carmelo Anthony,New York Knicks,7,SF,32,8-Jun,240,Syracuse,22875000.0
Jose Calderon,New York Knicks,3,PG,34,3-Jun,200,NaN,7402812.0
Cleanthony Early,New York Knicks,11,SF,25,8-Jun,210,Wichita State,845059.0
Langston Galloway,New York Knicks,2,SG,24,2-Jun,200,Saint Joseph's,845059.0
Jerian Grant,New York Knicks,13,PG,23,4-Jun,195,Notre Dame,1572360.0
Robin Lopez,New York Knicks,8,C,28,Jul-00,255,Stanford,12650000.0
Kyle O'Quinn,New York Knicks,9,PF,26,10-Jun,250,Norfolk State,3750000.0
Kristaps Porzingis,New York Knicks,6,PF,20,3-Jul,240,NaN,4131720.0
Kevin Seraphin,New York Knicks,1,C,26,10-Jun,278,NaN,2814000.0
Lance Thomas,New York Knicks,42,SF,28,8-Jun,235,Duke,1636842.0
Sasha Vujacic,New York Knicks,18,SG,32,7-Jun,195,NaN,947276.0
Derrick Williams,New York Knicks,23,PF,25,8-Jun,240,Arizona,4000000.0
Tony Wroten,New York Knicks,5,SG,23,6-Jun,205,Washington,167406.0
Elton Brand,Philadelphia 76ers,42,PF,37,9-Jun,254,Duke,NaN
Isaiah Canaan,Philadelphia 76ers,0,PG,25,Jun-00,201,Murray State,947276.0
Robert Covington,Philadelphia 76ers,33,SF,25,9-Jun,215,Tennessee State,1000000.0
Joel Embiid,Philadelphia 76ers,21,C,22,Jul-00,250,Kansas,4626960.0